
<section class="banner contact email mobile">
    <div class="phone">
    <h2>Be the first in the know!</h2>
    <a class="center-x" href="https://kellywynne.com/pages/KELLYWYNNESAVE10-subscribe-page" target="_blank">{% render 'icon.phone' %} Text with us </a>
    </div>
</section>

<section class="banner contact email">
    <div class="email center-x">
        <h2 class="desktop">Sign up for our newsletter!</h2>
        <div class="center-x klaviyo-form-VxtVgs"></div>        
    </div>
</section>