<section class="banner dare">
    <div class="inside">
        <a href="/pages/dare-to-donate"><img class="logo" src="{{ "logo-refuge-320px.png" | asset_url }}"></a>
        <p>Kelly Wynne proudly supports The Refuge for DMST through our <a href="/pages/dare-to-donate">Dare to Donate</a> program, giving $5 from every sale to sponsor a domestic minor sex trafficking survivor to attend The Refuge Ranch.</p>
        <a class="button outline teal center-x" href="/pages/dare-to-donate">Learn more</a>
        
    </div>
</section>