<section class="banner newsletter">
    <div class="container">
        <div class="span6 offset3">
            <h1>Get our Newsletter</h1>
            <p>Subscribe to get updates about everything Kelly Wynne. We’ll keep you posted about new handbags, upcoming events and more.</p>

            <form action="https://kellywynne.us4.list-manage.com/subscribe/post?u=c03020925522167eae9ef3764&amp;id=ad5a6181f1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
                <label for="email">Enter your email address</label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter your email address">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button teal">
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
            </form>
        </div>
    </div>
</section>