<section class="banner spotted">
    <div class="container">
        <p><img src="{{ 'icon-eye.png' | asset_url }}" alt="icon-eye" width="74" height="49"></p>
        <h1>Spotted a Kelly Wynne handbag? Let us know.</h1>
        <p><a href="mailto:{{ settings.spotted_email }}" class="button button-white">{{ settings.spotted_email }}</a></p>
    </div>
</section>