<div class="banner contact">
    <div class="container">
        <h4>For all inquiries, send an email to</h4>
        <a href="mailto:{{ settings.contact_email }}" class="button grey">{{ settings.contact_email }}</a>
        <h4><a href="/pages/contact-faq" class="underline">View full contact info</a></h4>
    </div>
</div>

<section class="banner contact email mobile">
    <div class="phone">
    <h2>Be the first in the know!</h2>
    <a class="center-x" href="https://kellywynne.com/pages/KELLYWYNNESAVE10-subscribe-page" target="_blank">Text with us {% include 'icon.phone' %}</a>
    </div>
</section>

<section class="banner contact email">
    <div class="email center-x">
        <h2>Sign up for our newsletter!</h2>
        <div class="center-x klaviyo-form-VxtVgs"></div>        
    </div>
</section>