<footer id="footer">
    <div class="top">
        <ul class="social center-x">
            <li><a><span>{% include 'icon.freeshippinglarge' %}</span> Free Shipping $100+</a>
            </li>
            <li><a><span>{% include 'icon.return' %}</span> Free Returns & Exchanges</a>
            </li>
        </ul>
    </div>
    
    {% render 'banner.contact' %}

    <div class="bottom">
        <ul class="links main">
            {% comment %} <li><a href="/pages/careers">Careers</a></li> {% endcomment %}
            <li><a href="/pages/contact-faq">Contact Us</a></li>
            <li><a href="/products/gift-card">Gift Cards</a></li>
            <li><a href="/pages/repairs">Warranty</a></li>
            <li><a href="/pages/contact-faq#returns-exchanges">Returns &amp; Exchanges</a></li>
            <li><a href="/pages/contact-faq">FAQ</a></li>
            <li><a href="/pages/wynners-club">Wynners' Club</a></li>
            {% comment %} <li class="club"><a href="/pages/wynners-club">Wynners' Club</a></li> {% endcomment %}
        </ul>
        <ul class="links ancillary">
            <li>
            <a href="/pages/privacy-statement">Copyright &copy; {{ 'now' | date: "%Y" }} Kelly Wynne</a></li><li><a href="/pages/privacy-statement">Privacy Statement</a></li> <li><a href="/pages/terms-of-service">Terms of Service</a></li>
        </ul>
    </div>
</footer>
