<header class="top">
    <form action="/search" method="get" class="search desktop" role="search">
        <input name="q" type="text" placeholder="Search..." />
        <input type="hidden" name="type" value="product" />
        <button type="submit">{% include 'icon.search' %}</button>
    </form>

    {% include 'slider.notifications' %}
    
    <ul class="cart meta desktop">
        {% if shop.customer_accounts_enabled %}
            {% if customer %}
                <li><a href="/account">My Account</a></li>
            {% else %}
                <li>{{ 'Sign in' | customer_login_link }}</li>
            {% endif %}
        {% endif %}
        <li><a class="cart_btn" href="/cart">Cart: <span class="cart-items">{{ cart.item_count }}</span></a></li>
    </ul>
</header>