{% case icon %}

    {% when 'check' %}
    <?xml version="1.0" encoding="UTF-8"?>
    <svg width="22px" height="20px" viewBox="0 0 22 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: sketchtool 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
        <title>E6FC71AF-3EC1-459E-9B13-28BF50853882</title>
        <desc>Created with sketchtool.</desc>
        <defs></defs>
        <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="icons" transform="translate(-321.000000, -49.000000)" fill-rule="nonzero" stroke="#6AB7B1">
                <g id="check_2_ico" transform="translate(321.000000, 50.000000)">
                    <polygon id="Star" points="5.49999997 18 4.46663095 12.5636557 0 9.00000006 4.46663095 5.43634361 5.49999999 8.13227408e-09 11 1.87268836 16.5 0 17.5333686 5.43634361 22 9.00000006 17.5333686 12.5636557 16.5 18 11 16.1273129"></polygon>
                    <polyline id="Path-8" points="15 6 11.0599419 11 8 8.41658689"></polyline>
                </g>
            </g>
        </g>
    </svg>

    {% when 'return' %}
    <?xml version="1.0" encoding="UTF-8"?>
    <svg width="31px" height="31px" viewBox="0 0 31 31" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: sketchtool 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
        <title>264C7E18-FA70-4F56-9232-EC2201207A05</title>
        <desc>Created with sketchtool.</desc>
        <defs></defs>
        <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="icons" transform="translate(-78.000000, -107.000000)" stroke="#FFFFFF">
                <g id="returs_ico" transform="translate(79.000000, 108.000000)">
                    <path d="M27.2195036,7.53272392 C24.7550911,3.04322712 19.9829374,0 14.5,0 C6.49187113,0 0,6.49187113 0,14.5 M2.80242947,23.070016 C5.4412303,26.6657416 9.69801752,29 14.5,29 C22.5081289,29 29,22.5081289 29,14.5" id="Oval"></path>
                    <polyline id="Path-2" points="7.51171875 23 3 23 3 27.4863281"></polyline>
                    <polyline id="Path-2" transform="translate(25.255859, 5.243164) rotate(-180.000000) translate(-25.255859, -5.243164) " points="27.5117188 3 23 3 23 7.48632812"></polyline>
                </g>
            </g>
        </g>
    </svg>

    {% when 'shipping' %}
    <?xml version="1.0" encoding="UTF-8"?>
    <svg width="59px" height="23px" viewBox="0 0 59 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: sketchtool 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
        <title>4E382745-A622-4351-AA96-D9AC06910711</title>
        <desc>Created with sketchtool.</desc>
        <defs></defs>
        <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="icons" transform="translate(-126.000000, -111.000000)" stroke="#FFFFFF">
                <g id="shipping_ico" transform="translate(127.000000, 112.000000)">
                    <polyline id="Path-3" points="14 1.6782036 14.7903599 0 42 6.93288191e-14 36.8742159 17 21.7276549 17"></polyline>
                    <polyline id="Path-4" points="11.5989198 12 10 18 14 18"></polyline>
                    <polyline id="Path-5" points="41 3 48.9576203 3 53.3321773 10.1140951 57 12.3082088 55.5959831 17 52.2418918 17"></polyline>
                    <path d="M45,17.25 L37,17.25" id="Path-6"></path>
                    <path d="M20.9597701,4.25 L0.0402298851,4.25" id="Line" stroke-linecap="square"></path>
                    <path d="M23,7.25 L9,7.25" id="Line" stroke-linecap="square"></path>
                    <path d="M18,10.25 L5,10.25" id="Line" stroke-linecap="square"></path>
                    <circle id="Oval-2" cx="17.5" cy="17.5" r="3.5"></circle>
                    <circle id="Oval-2" cx="48.5" cy="17.5" r="3.5"></circle>
                </g>
            </g>
        </g>
    </svg>

{% endcase %}