<section id="about_spotted">
    <div class="container">
            <p><img src="{{ 'about_eye.png' | asset_url }}" alt="about_eye" width="74" height="49"></p>
            <h1>Spotted a Kelly Wynne handbag? Let us know.</h1>
            <p><a href="mailto:{{ settings.spotted_email }}" class="button button-white">{{ settings.spotted_email }}</a></p>
    </div>
</section>