<section class="related">
    <div class="container">
        <!-- Selly app recommendation -->
        <noscript type="text/flag" class="tdfPlaceRec"></noscript>

        <!-- If no Selly recommendation, show Shopify dynamic related -->
        {% section 'related-products' %}
    </div>
</section>