<div class="heading text-center">
  {{section.settings.heading_title}}
</div>

{% schema %}
{
  "name": "Heading text section",
  "class": "heading-section",
  "settings": [
    {
      "type": "richtext",
      "id": "heading_title",
      "label": "Heading Title"
    }
  ]
}
{% endschema %}