<div class="homepage">
  {% section 'slider-home' %}
  {% section 'heading-section' %}
  {% section 'image-text' %}
  {% section 'featured-products' %}
  {% section 'collection-list' %}
  {% section 'image-product' %}
  {% section 'image-text-overlay' %}
  {% section 'logo-slider' %}
  {% section 'image-description-text' %}
  {% section 'instafeed' %}
  {% include 'promos.instagram' %}
</div>
