{% section 'header-all-accessories' %}
{% if page.content != "" %}
<section class="container content {{ page.handle }}">
      {{ page.content }}
</section>
{% endif %}
{% section 'content-all-accessories' %}
{% comment %} {% include 'banner.retailers' %} {% endcomment %}