{% section 'header-about' %}
    
{% if page.content != "" %}
<section class="container {{ page.handle }}">
      {{ page.content }}
</section>
{% endif %}

<section class="container">
<h1 class="loving">Kelly is curently loving...</h1>
    <ul class="grid three">
    {% for product in collections.designer-faves.products %}
    <script type="application/json" class="bold-product-json">{{ product | json }}</script>
        {% include 'product-grid-item' %}
    {% endfor %}
    </ul>
</section>