{% section 'header-all-legacy' %}
{% if page.content != "" %}
<section class="container content {{ page.handle }}">
      {{ page.content }}
</section>
{% endif %}
{% section 'content-all-legacy' %}
{% include 'banner.retailers' %}