{% section 'header-philanthropy' %}
{% if page.content != "" %}
<section class="container content {{ page.handle }}">
      {{ page.content }}
</section>
{% endif %}
{% section 'content-philanthropy' %}