<section class="lede grey">
<div class="container center-xy">
    <h1>{{ page.title }}</h1>
    <p>Would you like to sell our handbags? <a href="mailto:{{%20settings.wholesale_email%20}}?subject=Wholesale%20Inquiries">Contact us.</a></p>
</div>
</section>

{% if page.content != "" %}
<section class="container content {{ page.handle }}">
      {{ page.content }}
</section>
{% endif %}

<section class="container {{ collection.handle }}" id="retailers">
<h2 class="state">Online Retailers</h2>
<ul class="grid three">
    <li class="grid-item retailer full">
        <h3>Nordstrom.com</h3><a class="button teal" href="https://shop.nordstrom.com/c/womens-handbags-and-wallets?origin=topnav&amp;cm_sp=Top%20Navigation-_-Women_-_-Handbags&amp;top=72&amp;offset=0&amp;page=1&amp;sort=Boosted&amp;brand=19162" target="_blank">Website</a>
    </li>
</ul>
<h2 class="state">Alabama</h2>
<ul class="grid three">
    <li class="grid-item retailer">
        <h3>Gus Mayer</h3>
        <p>Birmingham, Alabama</p>
        <p>Tel: <a href="tel:205-870-3300">205.870.3300</a></p>
        <p>The Summit Birmingham<br>
        225 Summit Blvd #700, AL 35243</p><a class="button teal" href="http://gusmayer.com/" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/BvAFrAmxRpD2" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Soca Clothing</h3>
        <p>Birmingham, Alabama</p>
        <p>Tel: <a href="tel:205-807-1285">205.807.1285</a></p>
        <p>2820 18th Street South<br>
        Birmingham, AL 35209</p><a class="button teal" href="https://socaclothing.com/" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/L8dnAhQQuaE2" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Shoefly</h3>
        <p>Fairhope, Alabama</p>
        <p>Tel: <a href="tel:251-929-3232">251.929.3232</a></p>
        <p>326 Fairhope Ave<br>
        Fairhope, AL 36532</p><a class="button teal" href="https://shoeflygirl.com/" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/NmgKjpr6y3p" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Personal Couture</h3>
        <p>Huntsville, Alabama</p>
        <p>Tel: <a href="tel:256-508-5632">256.508.5632</a></p>
        <p>102 Longwood Drive SE<br>
        Huntsville, AL</p><a class="button teal" href="https://www.facebook.com/personalcouture" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/EZF02" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Hemline Mobile</h3>
        <p>Mobile, Alabama</p>
        <p>Tel: <a href="tel:251-287-6875">251.287.6875</a></p>
        <p>4356 Old Shell Rd<br>
        Mobile, AL 36608</p><a class="button teal" href="https://shophemline.com" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/MQaTE5J2s6t" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Painted Pink</h3>
        <p>Montgomery, Alabama</p>
        <p>Tel: <a href="tel:334-834-2220">334.834.2220</a></p>
        <p>1941 Mulberry St.<br>
        Montgomery, AL 36106</p><a class="button teal" href="https://www.facebook.com/PaintedPinkMontgomery/info/?ref=page_internal" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/vdrYoTB6yTP2" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Soca Clothing</h3>
        <p>Tuscaloosa, Alabama</p>
        <p>Tel: <a href="tel:205-752-0001">205.752.0001</a></p>
        <p>1800 McFarland Blvd #205<br>
        Tuscaloosa, AL 35404</p><a class="button teal" href="https://socaclothing.com/" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/y5ESwnmdmzT2" target="_blank">Map</a>
    </li>
</ul>
<h2 class="state">Arkansas</h2>
<ul class="grid three">
    <li class="grid-item retailer">
        <h3>By Request</h3>
        <p>Fayetteville, Arkansas</p>
        <p>Tel: <a href="tel:479-442-7525">479.442.7525</a></p>
        <p>24 E Meadow St #12A<br>
        Fayetteville, AR 72701</p><a class="button teal" href="https://www.byrequestnwa.com" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/4ZykWd5hb1z" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Chez Weenie</h3>
        <p>Forrest City, Arkansas</p>
        <p>Tel: <a href="tel:870-633-8100">870.633.8100</a></p>
        <p>624 Garland St<br>
        Forrest City, AR 72335</p><a class="button teal" href="https://www.facebook.com/chezweenieFC/" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/vuSAybawQ3p" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Bella</h3>
        <p>Helena, Arkansas</p>
        <p>Tel: <a href="tel:479-466-9450">479.466.9450</a></p>
        <p>215 Cherry St<br>
        Helena, AR 72342</p><a class="button teal" href="http://www.shopbellahelena.com/contact.html" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/f4qqwioDewS2" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Barbara Jean</h3>
        <p>Little Rock, Arkansas</p>
        <p>Tel: <a href="tel:501-227-0054">501.227.0054</a></p>
        <p>7811 Cantrell RD, STE 1<br>
        Little Rock, AR 72227</p><a class="button teal" href="http://www.barbarajean.com/" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/51QtPjjkmFu" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Indigo</h3>
        <p>Little Rock, Arkansas</p>
        <p>Tel: <a href="tel:501-821-2808">501.821.2808</a></p>
        <p>17809 Chenal Pkwy<br>
        Little Rock, AR 72223</p><a class="button teal" href="http://www.shopindigo.com" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/T9rgm" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Darling's Fine Things</h3>
        <p>Newport, Arkansas</p>
        <p>Tel: <a href="tel:870-523-5887">870.523.5887</a></p>
        <p>1303 McLain Street<br>
        Newport, AR 72112</p><a class="button teal" href="https://www.darlingsfinethings.com" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/8c14TmDZLaC2" target="_blank">Map</a>
    </li>
</ul>
<h2 class="state">California</h2>
<ul class="grid three">
    <li class="grid-item retailer">
        <h3>Two Skirts</h3>
        <p>San Francisco, California</p>
        <p>Tel: <a href="tel:415-441-6727">415.441.6727</a></p>
        <p>2124 Chestnut Street<br>
        San Francisco, CA 94123</p><a class="button teal" href="https://www.twoskirtssf.com" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/QN1Qj" target="_blank">Map</a>
    </li>
</ul>
<h2 class="state">Colorado</h2>
<ul class="grid three">
    <li class="grid-item retailer">
        <h3>Two Skirts</h3>
        <p>Telluride, Colorado</p>
        <p>Tel: <a href="tel:970-728-6828">970.728.6828</a></p>
        <p>127 W Colorado Ave<br>
        Telluride, CO 81435</p><a class="button teal" href="http://www.twoskirts.net" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/mjv3P" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Perch Vail</h3>
        <p>Vail, Colorado</p>
        <p>Tel: <a href="tel:970-688-5947">970.688.5947</a></p>
        <p>122 E. Meadow Drive<br>
        Vail, CO 81657</p><a class="button teal" href="https://perchvail.com" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/R6FHI" target="_blank">Map</a>
    </li>
</ul>
<h2 class="state">Florida</h2>
<ul class="grid three">
    <li class="grid-item retailer">
        <h3>Willow + Mercer</h3>
        <p>Inlet Beach, Florida</p>
        <p>Tel: <a href="tel:850-909-0009">850.909.0009</a></p>
        <p>12805 S101, US-98<br>
        Inlet Beach, FL 32413</p><a class="button teal" href="http://www.wearwillow.com" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/yCsR1hCqJcS2" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Bluetique</h3>
        <p>Pensacola, Florida</p>
        <p>Tel: <a href="tel:850-696-1264">850.696.1264</a></p>
        <p>212 S. Alcaniz Street<br>
        Pensacola, FL 32502</p><a class="button teal" href="https://www.bluetiquepensacola.com" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/ZI9JS" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Willow</h3>
        <p>Rosemary Beach, Florida</p>
        <p>Tel: <a href="tel:850-231-0433">850.231.0433</a></p>
        <p>5 Main Street Suite 3A<br>
        Rosemary Beach, FL 32461</p><a class="button teal" href="http://www.wearwillow.com" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/6vMBM" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Willow + Woods</h3>
        <p>Seaside, Florida</p>
        <p>Tel: <a href="tel:850-231-0248">850.231.0248</a></p>
        <p>45 Central Square Suite CC2<br>
        Seaside, FL 32459</p><a class="button teal" href="http://www.wearwillow.com" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/HFTI6" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Top Drawer</h3>
        <p>Stuart, Florida</p>
        <p>Tel: <a href="tel:772-287-2845">772.287.2845</a></p>
        <p>2861 SE Ocean Blvd<br>
        Stuart, FL 34996</p><a class="button teal" href="http://www.topdrawerfl.com/" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/jw8WEsLJU4S2" target="_blank">Map</a>
    </li>
</ul>
<h2 class="state">Georgia</h2>
<ul class="grid three">
    <li class="grid-item retailer">
        <h3>Heery's Clothes Closet</h3>
        <p>Athens, Georgia</p>
        <p>Tel: <a href="tel:706-543-0702">706.543.0702</a></p>
        <p>195 College Ave<br>
        Athens, GA 30601</p><a class="button teal" href="http://www.heerys.com/" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/cYDH5yXtzi22" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Poppy's of Atlanta</h3>
        <p>Atlanta, Georgia</p>
        <p>Tel: <a href="tel:404-237-7015">404.237.7015</a></p>
        <p>56 East Andrew Drive NW<br>
        Atlanta, GA 30305</p><a class="button teal" href="https://poppysofatlanta.com" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/fP3w8GptmWS2" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Shoes at Surrey</h3>
        <p>Augusta, Georgia</p>
        <p>Tel: <a href="tel:706-504-3532">706.504.3532</a></p>
        <p>Oliviana, 487 Highland Sve<br>
        Augusta, GA 30909</p><a class="button teal" href="http://shoesatsurrey.com/" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/LcNmT3EyjR72" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Only Options</h3>
        <p>Valdosta, Georgia</p>
        <p>Tel: <a href="tel:229-244-1807">229.244.1807</a></p>
        <p>1421 Gornto Road<br>
        Valdosta, GA 31602</p><a class="button teal" href="https://www.facebook.com/onlyoptions" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/OP9zK" target="_blank">Map</a>
    </li>
</ul>
<h2 class="state">Louisiana</h2>
<ul class="grid three">
    <li class="grid-item retailer">
        <h3>Head Over Heels</h3>
        <p>Baton Rouge, Louisiana</p>
        <p>Tel: <a href="tel:225-216-2002">225.216.2002</a></p>
        <p>7580 Corporate Blvd<br>
        Baton Rouge, LA 70809</p><a class="button teal" href="http://www.headoverheelsonline.com/" target="_blank">Website</a> <a class="button" href="http://goo.gl/maps/yK6HX" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Brother’s on the Blvd.</h3>
        <p>Lafayette, Louisiana</p>
        <p>Tel: <a href="tel:337-984-7749">337.984.7749</a></p>
        <p>101 Arnould Blvd.<br>
        Lafayette, LA 70506</p><a class="button teal" href="http://brothersontheblvd.com/" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/V6q3GjcMywn" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Brenchley Shoes and Accessories</h3>
        <p>Mandeville, Louisiana</p>
        <p>Tel: <a href="tel:985-727-3131">985.727.3131</a></p>
        <p>2 Saint Ann Dr. #3<br>
        Mandeville, LA 70471</p><a class="button teal" href="https://www.facebook.com/BrenchleyShoes/" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/e6Gg3qijpc82" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Chatta Box Boutique</h3>
        <p>Metairie, Louisiana</p>
        <p>Tel: <a href="tel:504-454-1527">504.454.1527</a></p>
        <p>4114 Veterans Memorial Blvd<br>
        Metairie, LA 70002</p><a class="button teal" href="https://www.facebook.com/chattaboxmetairie/" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/FNUY6UvoxPD2" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Hemline Metairie</h3>
        <p>Metairie, Louisiana</p>
        <p>Tel: <a href="tel:504-309-8778">504.309.8778</a></p>
        <p>605 Metairie Rd<br>
        Metairie, LA 70005</p><a class="button teal" href="https://shophemline.com" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/JykVajzXdjx" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Hemline Monroe</h3>
        <p>Monroe, Louisiana</p>
        <p>Tel: <a href="tel:318-801-3279">318.801.3279</a></p>
        <p>2360 Tower Dr<br>
        Monroe, LA 71201</p><a class="button teal" href="https://shophemline.com/pages/hemline-monroe" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/FCtnAQSkU3U2" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Ballins</h3>
        <p>New Orleans, Louisiana</p>
        <p>Tel: <a href="tel:504-821-4000">504.821.4000</a></p>
        <p>721 Dante Street<br>
        New Orleans, LA 70118</p><a class="button teal" href="http://ballinsltd.com/" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/kEmT6krfi2N2" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Head Over Heels</h3>
        <p>New Orleans, Louisiana</p>
        <p>Tel: <a href="tel:504-603-3234">504.603.3234</a></p>
        <p>3112 Magazine St<br>
        New Orleans, LA 70115</p><a class="button teal" href="http://www.headoverheelsonline.com" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/tisR9RH6jFN2" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>The Fashion of Ruston</h3>
        <p>Ruston, Louisiana</p>
        <p>Tel: <a href="tel:318-255-2525">318.255.2525</a></p>
        <p>208 W Park Ave.<br>
        Ruston, LA 71270</p><a class="button teal" href="http://www.thefashionofruston.com/index.html" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/VgNz9mDFRPJ2" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Harper House Boutique</h3>
        <p>Shreveport, Louisiana</p>
        <p>Tel: <a href="tel:318-453-6068">318.453.6068</a></p>
        <p>4801 Line Ave, Suite 16<br>
        Shreveport, LA 71106</p><a class="button teal" href="https://www.facebook.com/harperhouseboutique" target="_blank">Website</a> <a class="button" href="https://www.google.com/maps/place/4801+Line+Ave/@32.457447,-93.744938,17z/data=!3m1!4b1!4m2!3m1!1s0x8636d2caebccd267:0x71d4381d344136f8" target="_blank">Map</a>
    </li>
</ul>
<h2 class="state">Mississippi</h2>
<ul class="grid three">
    <li class="grid-item retailer">
        <h3>Grant&amp;rsquo;s For Her</h3>
        <p>Biloxi, Mississippi</p>
        <p>Tel: <a href="tel:228-818-3233">228.818.3233</a></p>
        <p>110 Rue Magnolia<br>
        Biloxi, MS 39530</p><a class="button teal" href="https://www.facebook.com/pages/Grants-for-Her/184649048325871" target="_blank">Website</a> <a class="button" href="https://www.google.com/maps/place/Grant's+for+Her/@30.394471,-88.888871,17z/data=!3m1!4b1!4m2!3m1!1s0x889c0ee5d6b96473:0x35b6b9942204d232" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>The Wishing Well</h3>
        <p>Cleveland, Mississippi</p>
        <p>Tel: <a href="tel:662-843-7881">662.843.7881</a></p>
        <p>341 Cotton Row<br>
        Cleveland MS 38732</p><a class="button teal" href="https://www.facebook.com/pages/The-Wishing-Well/105698492848722" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/rzu9W" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>The Bride &amp; Groom</h3>
        <p>Columbus, Mississippi</p>
        <p>Tel: <a href="tel:662-327-4337">662.327.4337</a></p>
        <p>120 5th St S<br>
        Columbus, MS 39701</p><a class="button teal" href="http://thebrideandgroomms.com" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/JSMDZHaHtrz" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Pink Zinnia</h3>
        <p>Hernando, Mississippi</p>
        <p>Tel: <a href="tel:662-449-5533">662.449.5533</a></p>
        <p>134 W Commerce St<br>
        Hernando, MS 38632</p><a class="button teal" href="https://www.facebook.com/pages/The-Pink-Zinnia/135007269869188" target="_blank">Website</a> <a class="button" href="http://goo.gl/maps/NwLbR" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Taylor Collection</h3>
        <p>Madison, Mississippi</p>
        <p>Tel: <a href="tel:601-605-0236">601.605.0236</a></p>
        <p>2082 Main Street<br>
        Madison, MS 39110</p><a class="button teal" href="http://www.taylorcollection.net" target="_blank">Website</a> <a class="button" href="http://goo.gl/maps/q662f" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Cicada</h3>
        <p>Oxford, Mississippi</p>
        <p>Tel: <a href="tel:662-281-0541">662.281.0541 ext. 100</a></p>
        <p>307 South Lamar Blvd<br>
        Oxford, MS 38655</p><a class="button teal" href="http://shopcicada.com/" target="_blank">Website</a> <a class="button" href="http://goo.gl/maps/WLFg1" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>CoatTails</h3>
        <p>Ridgeland, Mississippi</p>
        <p>Tel: <a href="tel:601-853-1313">601.853.1313</a></p>
        <p>111 West Jackson Street<br>
        Ridgeland, MS 39157</p><a class="button teal" href="http://www.coattailsllc.com" target="_blank">Website</a> <a class="button" href="http://goo.gl/maps/yhRBi" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>L.A. Green</h3>
        <p>Starkville, Mississippi</p>
        <p>Tel: <a href="tel:662-324-6280">662-324-6280</a></p>
        <p>117 E Main St.<br>
        Starkville, MS 39759</p><a class="button teal" href="https://shoplagreen.com" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/gQUih4YQgBu" target="_blank">Map</a>
    </li>
</ul>
<h2 class="state">Missouri</h2>
<ul class="grid three">
    <li class="grid-item retailer">
        <h3>Hall's</h3>
        <p>Kansas City, Missouri</p>
        <p>Tel: <a href="tel:816-274-3222">816.274.3222</a></p>
        <p>2450 Grand Blvd Ste 333<br>
        Kansas City, MO 64108</p><a class="button teal" href="https://www.halls.com/" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/pmqXkj1zH8P2" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Mister Guy</h3>
        <p>St. Louis, Missouri</p>
        <p>Tel: <a href="tel:314-991-5262">314.991.5262</a></p>
        <p>9817 Clayton Rd<br>
        St. Louis, MO 63124</p><a class="button teal" href="https://misterguywomens.com/mister-guy-clothiers/" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/YMaFUBtgETs" target="_blank">Map</a>
    </li>
</ul>
<h2 class="state">New York</h2>
<ul class="grid three">
    <li class="grid-item retailer">
        <h3>Violet's of Saratoga</h3>
        <p>Saratoga Springs, New York</p>
        <p>Tel: <a href="tel:518-584-4838">518.584.4838</a></p>
        <p>494 Broadway<br>
        Saratoga Springs, NY 12866</p><a class="button teal" href="http://www.violetsofsaratoga.com/" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/uJpz8uAqvGk" target="_blank">Map</a>
    </li>
</ul>
<h2 class="state">North Carolina</h2>
<ul class="grid three">
    <li class="grid-item retailer">
        <h3>Kannons</h3>
        <p>Raleigh, North Carolina</p>
        <p>Tel: <a href="tel:919-365-7074">919.365.7074</a></p>
        <p>2015 Cameron St.<br>
        Raleigh, NC 27605</p><a class="button teal" href="https://kannonsclothing.com/" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/XZcPN8xPrxv" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Martas</h3>
        <p>Raleigh, North Carolina</p>
        <p>Tel: <a href="tel:919-788-4200">919.788.4200</a></p>
        <p>4120-100 Main at North Hills St<br>
        Raleigh, NC 27609</p><a class="button teal" href="http://martasofraleigh.com/" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/JZ5AueezPzM2" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Rebecca &amp; Co</h3>
        <p>Winston-Salem, North Carolina</p>
        <p>Tel: <a href="tel:336-750-0482">336.750.0482</a></p>
        <p>1200 Reynolda Rd<br>
        Winston-Salem, NC 27104</p><a class="button teal" href="http://www.rebeccacowinston.com/" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/KDz8MchEyXJ2" target="_blank">Map</a>
    </li>
</ul>
<h2 class="state">Oklahoma</h2>
<ul class="grid three">
    <li class="grid-item retailer">
        <h3>Rosegold</h3>
        <p>Oklahoma City, Oklahoma</p>
        <p>Tel: <a href="tel:405-775-0105">405.775.0105</a></p>
        <p>7302 N Western Ave<br>
        Oklahoma City, OK 73116</p><a class="button teal" href="https://www.shoprosegold.com" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/wAUHnwvihAH2" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>The Wooden Nickel</h3>
        <p>Stillwater, Oklahoma</p>
        <p>Tel: <a href="tel:405-377-8808">405.377.8808</a></p>
        <p>401 S Washington St<br>
        Stillwater, OK 74074</p><a class="button teal" href="https://www.shopthenickel.com" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/Yf5R8XL41k72" target="_blank">Map</a>
    </li>
</ul>
<h2 class="state">Pennsylvania</h2>
<ul class="grid three">
    <li class="grid-item retailer">
        <h3>Posh Collections</h3>
        <p>Malvern, Pennsylvania</p>
        <p>Tel: <a href="tel:610-644-7220">610.644.7220</a></p>
        <p>103 East King St.<br>
        Malvern, PA 19355</p><a class="button teal" href="https://www.poshcollections.com/the-store" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/X9XFX2YEhx32" target="_blank">Map</a>
    </li>
</ul>
<h2 class="state">South Carolina</h2>
<ul class="grid three">
    <li class="grid-item retailer">
        <h3>Shoes on King</h3>
        <p>Charleston, South Carolina</p>
        <p>Tel: <a href="tel:843-718-2190">843.718.2190</a></p>
        <p>335 King St<br>
        Charleston, SC 29401</p><a class="button teal" href="http://shoesonking.com/" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/m7efa2zSeU32" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Holly &amp; Brooks</h3>
        <p>Johns Island, South Carolina</p>
        <p>Tel: <a href="tel:855-777-4796">855.777.4796</a></p>
        <p>510 Freshfields Dr<br>
        Johns Island, SC 29455</p><a class="button teal" href="http://hollyandbrooks.com" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/dfRY2ZR9GZq" target="_blank">Map</a>
    </li>
</ul>
<h2 class="state">Tennessee</h2>
<ul class="grid three">
    <li class="grid-item retailer">
        <h3>Alice Blue</h3>
        <p>Chattanooga, Tennessee</p>
        <p>Tel: <a href="tel:423-531-2120">423.531.2120</a></p>
        <p>1100 Hixson Pike #112<br>
        Chatnooga, TN 37405</p><a class="button teal" href="http://aliceblueboutique.com/" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/krAVU4Ce8zH2" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Mam'selle</h3>
        <p>Jackson, Tennessee</p>
        <p>Tel: <a href="tel:731-668-2420">731.668.2420</a></p>
        <p>907 Vann Drive #D<br>
        Jackson, TN 38305</p><a class="button teal" href="https://www.facebook.com/mamsellejackson" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/08P9S" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Est8te</h3>
        <p>Knoxville, Tennessee</p>
        <p>Tel: <a href="tel:865-588-1588">865.588.1588</a></p>
        <p>5609 Kingston Pike<br>
        Knoxville, TN 37919</p><a class="button teal" href="http://www.est8te.com/" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/PAVrKeWAnSo" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Sugar &amp; Spice</h3>
        <p>Martin, Tennessee</p>
        <p>Tel: <a href="tel:731-587-0811">731.587.0811</a></p>
        <p>310 Broadway St<br>
        Martin, TN 38237</p><a class="button teal" href="http://www.sugarandspiceclothing.com" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/zSSBkEyAk5F2" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Indigo</h3>
        <p>Memphis, Tennessee</p>
        <p>Tel: <a href="tel:901-755-6909">901.755.6909</a></p>
        <p>7509 Poplar Ave. #102<br>
        Memphis, TN 38138</p><a class="button teal" href="http://www.shopindigo.com" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/mWoBpz2HnTT2" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Pickering Boxwood</h3>
        <p>Memphis, Tennessee</p>
        <p>Tel: <a href="tel:901-359-4147">901.359.4147</a></p>
        <p>601 S Mendenhall Rd<br>
        Memphis, TN 38117</p><a class="button teal" href="https://www.pickeringboxwood.com" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/d8pyezcaaq32" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Gus Mayer</h3>
        <p>Nashville, Tennessee</p>
        <p>Tel: <a href="tel:615-383-4771">615.383.4771</a></p>
        <p>The Mall at Green Hills, 2132 Green Hills Village Dr<br>
        Nashville, TN 37215</p><a class="button teal" href="http://gusmayer.com/" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/sC3kmt8rtFr" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>K. McCarthy</h3>
        <p>Nashville, Tennessee</p>
        <p>Tel: <a href="tel:615-972-1696">615.972.1696</a></p>
        <p>4100 Hillsboro Cir.<br>
        Nashville, TN 37215</p><a class="button teal" href="http://kmccarthyfashiontruck.com/" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/FKonNbQa83z" target="_blank">Map</a>
    </li>
</ul>
<h2 class="state">Texas</h2>
<ul class="grid three">
    <li class="grid-item retailer">
        <h3>Top Notch Outfitters</h3>
        <p>Amarillo, Texas</p>
        <p>Tel: <a href="tel:806-353-9468">806.353.9468</a></p>
        <p>2617 Wolflin Ave.<br>
        Amarillo, TX 79109</p><a class="button teal" href="https://www.facebook.com/pages/Top-Notch-Outfitters/145436358838960" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/hQNCe" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Hearth &amp; Soul</h3>
        <p>Austin, Texas</p>
        <p>Tel: <a href="tel:512-474-7658">512.474.7658</a></p>
        <p>2727 Exposition Blvd<br>
        Austin, Texas 78703</p><a class="button teal" href="https://hearthandsoul.com/austin" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/SfAWLp5a88S2" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Julian Gold Austin</h3>
        <p>Austin, Texas</p>
        <p>Tel: <a href="tel:512-473-2493">512.473.2493</a></p>
        <p>1214 West 6th Street<br>
        Austin, Texas 78703</p><a class="button teal" href="http://juliangold.com/" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/aJCbca8PxMJ2" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Lux Rox</h3>
        <p>Austin, Texas</p>
        <p>Tel: <a href="tel:512-852-9674">512.852.9674</a></p>
        <p>6317 Bee Cave Rd #210<br>
        Austin, Texas 78746</p><a class="button teal" href="https://luxroxboutique.com" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/Nbcte36E6Ns" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>The Four Seasons Austin</h3>
        <p>Austin, Texas</p>
        <p>Tel: <a href="tel:512-478-4500">512.478.4500</a></p>
        <p>98 San Jacinto Blvd<br>
        Austin, Texas 78701</p><a class="button teal" href="https://www.fourseasons.com/austin/spa/?c=t&amp;_s_icmp=mmenu" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/Yv2VPmyxHZU2" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Sabi Boutique</h3>
        <p>College Station, Texas</p>
        <p>Tel: <a href="tel:979-224-8595">979.224.8595</a></p>
        <p>614 Holleman Drive East<br>
        College Station, TX 77840</p><a class="button teal" href="https://www.sabiboutique.com" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/3pgXt" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Julian Gold Corpus Christi</h3>
        <p>Corpus Christi, Texas</p>
        <p>Tel: <a href="tel:361-853-9974">361.853.9974</a></p>
        <p>3840 S. Alameda St.<br>
        Corpus Christi, TX 78411</p><a class="button teal" href="http://juliangold.com/" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/WUifUJE2tiP2" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>The Coop</h3>
        <p>Dallas, Texas</p>
        <p>Tel: <a href="tel:972-980-2653">972.980.2653</a></p>
        <p>12100 Preston Rd.<br>
        Dallas, TX 75230</p><a class="button teal" href="http://www.cooperaerobics.com/Cooper-Fitness-Center-Dallas.aspx" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/j57YFMCDNCM2" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>The Shak at Stanley Korshak</h3>
        <p>Dallas, Texas</p>
        <p>Tel: <a href="tel:855-479-9539">855.479.9539</a></p>
        <p>500 Crescent Ct #100<br>
        Dallas, TX 75201</p><a class="button teal" href="https://www.stanleykorshak.com/category/Shak/10" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/CfBHkX8Sycq" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Pax &amp; Parker</h3>
        <p>Fort Worth, Texas</p>
        <p>Tel: <a href="tel:817-439-9581">817.439.9581</a></p>
        <p>1621 River Run #116<br>
        Fort Worth, TX 76107</p><a class="button teal" href="http://www.paxandparker.com/" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/nukUqG1pCwz" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Stanley Eisenman</h3>
        <p>Fort Worth, Texas</p>
        <p>Tel: <a href="tel:817-731-2555">817.731.2555</a></p>
        <p>6333 Camp Bowie Blvd<br>
        Fort Worth, TX 76116</p><a class="button teal" href="http://www.stanleyeisenmanshoes.com" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/va442fs6dzA2" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>D&amp;L Clothiers</h3>
        <p>Houston, Texas</p>
        <p>Tel: <a href="tel:713-960-9113">713.960.9113</a></p>
        <p>1415 S. Voss Rd.<br>
        Houston, TX 77057</p><a class="button" href="https://goo.gl/maps/EGjgcikKH8v" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Hemline City Centre</h3>
        <p>Houston, Texas</p>
        <p>Tel: <a href="tel:713-465-1148">713.465.1148</a></p>
        <p>796 Town and Country Blvd Ste. 114<br>
        Houston, TX 77024</p><a class="button teal" href="https://shophemline.com" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/qELEZ1iW2Ts" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>JoAnn's</h3>
        <p>Houston, Texas</p>
        <p>Tel: <a href="tel:713-467-7467">713.467.7467</a></p>
        <p>12850 Memorial Dr Ste 410<br>
        Houston, TX 77024</p><a class="button teal" href="https://www.facebook.com/JoannsClothing/" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/9aPpDP2kCZ12" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Hurwitz</h3>
        <p>Longview, Texas</p>
        <p>Tel: <a href="tel:903-753-4474">903.753.4474</a></p>
        <p>2002 Judson Road<br>
        Longview, TX 75605</p><a class="button teal" href="http://www.hurwitzonline.com" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/UgbAu" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Chrome</h3>
        <p>Lubbock, Texas</p>
        <p>Tel: <a href="tel:806-687-8953">806.687.8953</a></p>
        <p>2601 19th St<br>
        Lubbock, TX 79410</p><a class="button teal" href="https://shopchrome.com" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/LZ9nZ8LZ5uz" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Malouf's</h3>
        <p>Lubbock, Texas</p>
        <p>Tel: <a href="tel:806-794-9500">806.794.9500</a></p>
        <p>8201 Quaker Ave<br>
        Lubbock, TX 79424</p><a class="button teal" href="http://www.maloufs.com" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/aRWxiQSXQG52" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Sylvia’s</h3>
        <p>McAllen, Texas</p>
        <p>Tel: <a href="tel:956-682-6036">956.682.6036</a></p>
        <p>4300 N 10th St.<br>
        McAllen, TX 78504</p><a class="button teal" href="http://sylviasmcallen.com" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/hhk6AtEX4KK2" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Julian Gold Midland</h3>
        <p>Midland, Texas</p>
        <p>Tel: <a href="tel:432-682-5369">432.682.5369</a></p>
        <p>2101 West Wadley, Suite 16<br>
        Midland, TX 79705</p><a class="button teal" href="http://juliangold.com/" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/aPNyK2GaFnQ2" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Dancing Pony</h3>
        <p>New Braunfels, Texas</p>
        <p>Tel: <a href="tel:830-626-7669">830.626.7669</a></p>
        <p>249 W San Antonio St<br>
        New Braunfels, TX 78130</p><a class="button teal" href="http://dancingponyboutique.com" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/yhbHk1EBV9F2" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Julian Gold San Antonio</h3>
        <p>San Antonio, Texas</p>
        <p>Tel: <a href="tel:210-824-2493">210.824.2493</a></p>
        <p>4109 McCullough<br>
        San Antonio, TX 78212</p><a class="button teal" href="http://juliangold.com/" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/yJKCbtfnYnC2" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Bridgette's</h3>
        <p>Tyler, Texas</p>
        <p>Tel: <a href="tel:903-561-3136">903.561.3136</a></p>
        <p>4815 Old Bullard Rd #101<br>
        Tyler, TX 75703</p><a class="button teal" href="https://www.bridgettestyler.com" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/g56Gb8njaSw" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>Roots</h3>
        <p>Waco, Texas</p>
        <p>Tel: <a href="tel:254-759-1771">254.759.1771</a></p>
        <p>201 S 2nd St<br>
        Waco, TX 76701</p><a class="button teal" href="http://rootsboutique.com" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/yYHeuCMdWLD2" target="_blank">Map</a>
    </li>
    <li class="grid-item retailer">
        <h3>The Containery</h3>
        <p>Wichita Falls, Texas</p>
        <p>Tel: <a href="tel:940-766-6367">940.766.6367</a></p>
        <p>2308 Brook Avenue<br>
        Wichita Falls, TX 76301</p><a class="button teal" href="http://thecontainery.com/" target="_blank">Website</a> <a class="button" href="http://goo.gl/maps/mMbVZ" target="_blank">Map</a>
    </li>
</ul>
<h2 class="state">Wisonsin</h2>
<ul class="grid three">
    <li class="grid-item retailer">
        <h3>Sweet Potato's</h3>
        <p>Kohler, Wisonsin</p>
        <p>Tel: <a href="tel:920-458-6645">920.458.6645</a></p>
        <p>765 Woodlake Rd # D<br>
        Kohler, WI 53044</p><a class="button teal" href="https://www.sweetpotatosboutique.com/" target="_blank">Website</a> <a class="button" href="https://goo.gl/maps/uXDkRHMn2jN2" target="_blank">Map</a>
    </li>
</ul>
</section>